<ion-content [fullscreen]="true">

  <ion-row class="altura">

    <ion-col size="6" class="imagemfundo"></ion-col>

    <ion-col size="6">

      <ion-title>Criar Conta</ion-title>

      <ion-item>
        <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="E-mail" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Senha" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Confirmar Senha" [(ngModel)]="confirmarSenha"></ion-input>
      </ion-item>

      <ion-button class="criar-conta" expand="block" (click)="criarConta()">
        Criar Conta
      </ion-button>

      <h1>Login com</h1>

      <div class="botao">

        <ion-button class="facebook" expand="block" (click)="facebook()">
          Facebook
        </ion-button>

        <ion-button class="twitter" expand="block" (click)="twitter()">
          Twitter
        </ion-button>

        <ion-button class="google" expand="block" (click)="google()">
          Google
        </ion-button>

      </div>

    </ion-col>

  </ion-row>

</ion-content>